.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  margin-top: 35px;
}
