.boardContainer {
    @mixin light {
        background-color: #ededed;
    }
    
    @mixin dark {
        background-color: #2E2E2E;
    }

    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.contentContainer {
    width: 100%;
    margin: 20px;
}
