.columnContainer {
  margin: 8px;
  border-radius: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;

  @mixin light {
    background-color: #EDEDED;
  }

  @mixin dark {
    background-color: #242424;
  }
}

.title {
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @mixin light {
    background-color: #EDEDED;
  }

  @mixin dark {
    background-color: #242424;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px;
}

.taskList {
  border-radius: 5px;
  height: 100%;
  transition: background-color 0.3s ease;
}

.activeTaskList {
  border-radius: 5px;
  height: 100%;
  transition: background-color 0.3s ease;

  @mixin light {
    background-color: #d3e8fa;
  }

  @mixin dark {
    background-color: #24394b;
  }
}

.addTaskButton {
  border-radius: 5px;
  padding: 8px;
  margin: 0px 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: bold;

  @mixin light {

  }

  @mixin dark {

  }
}
