.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.titleTopBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentContainer {
    @mixin light {
        background-color: white;
    }
    
    @mixin dark {
        background-color: #242424;
    }

    border-radius: 20px;
    height: 100%;
}
