.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.titleTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.contentContainer {
  @mixin light {
    background-color: white;
  }

  @mixin dark {
    background-color: #242424;
  }

  border-radius: 20px;
  height: 100%;
}
