.taskContainer {
  border-radius: 5px;
  min-height: 50px;
  padding: 8px;
  margin: 0px 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  font-weight: bold;

  @mixin light {
    background-color: #ffffff;
  }

  @mixin dark {
    background-color: #242424;
  }
}

.taskDraggingContainer {
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  font-weight: bold;

  @mixin light {
    border: 1px solid #d2f7d2;
    background-color: #d2f8d2;
  }

  @mixin dark {
    border: 1px solid #0c430c;
    background-color: #072d07;
  }
}

.taskTitleContainer {
  display: flex;
  gap: 20px;
}

.priority {
  display: flex;
  min-width: 25px;
  min-height: 25px;
  border-radius: 25px;
}
