.pageContainer {
  height: 100%;
}

.tasksContainer {
  height: 100%;
  display: flex;
  align-items: center;

  border-radius: 5px;
  @mixin light {
    background-color: #ffffff;
  }
  @mixin dark {
    background-color: #242424;
  }
}
