.columnContainer {
    margin: 8px;
    border-radius: 10px;
    height: 100%;
    width: 20%;

    @mixin light {
        border: 2px solid #d4d4d4;
    }
    
    @mixin dark {
        border: 2px solid #3b3b3b;
    }
}

.title {
    padding: 8px;
}

.taskList {
    padding: 8px;
}
